<server description="inventory service">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.0</platform>
        <feature>cdi</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>restfulWS</feature>
        <feature>mpConfig</feature>
        <feature>enterpriseBeansLite</feature>
        <!-- tag::mpTelemetry[] -->
        <feature>mpTelemetry</feature>
        <!-- end::mpTelemetry[] -->
    </featureManager>

    <httpEndpoint httpPort="${http.port}"
                  httpsPort="${https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <!-- tag::webApplication[] -->
    <webApplication location="guide-microprofile-telemetry-inventory.war"
                    contextRoot="/">
        <!-- tag::thirdParty[] -->
        <classloader apiTypeVisibility="+third-party"/>
        <!-- end::thirdParty[] -->
    </webApplication>
    <!-- end::webApplication[] -->

    <logging consoleLogLevel="INFO" />

</server>
