<server description="inventory service">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.1</platform>
        <feature>cdi</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>restfulWS</feature>
        <feature>mpConfig</feature>
        <feature>enterpriseBeansLite</feature>
        <feature>mpTelemetry</feature>
    </featureManager>

    <httpEndpoint httpPort="${http.port}"
                  httpsPort="${https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <webApplication location="guide-microprofile-telemetry-grafana-custom-inventory.war"
                    contextRoot="/" />

    <logging consoleLogLevel="INFO" />

</server>
