<server description="system service">

    <featureManager>
        <platform>jakartaee-10.0</platform>
        <!-- tag::microprofile[] -->
        <platform>microprofile-7.0</platform>
        <!-- end::microprofile[] -->
        <feature>cdi</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>restfulWS</feature>
        <feature>mpHealth</feature>
        <!-- tag::mpTelemetry[] -->
        <feature>mpTelemetry</feature>
        <!-- end::mpTelemetry[] -->
    </featureManager>

    <httpEndpoint httpPort="${http.port}"
                  httpsPort="${https.port}"
                  id="defaultHttpEndpoint" host="*" />

    <webApplication location="guide-microprofile-telemetry-grafana-custom-system.war"
                    contextRoot="/" />

    <logging consoleLogLevel="INFO" />

</server>
